/*
---------------------------------------------
Ãndice
------------------------------------------------
1. Typography
2. Main Nav
3. Home
4. About
5. Work
6. Single Work
7. Pricing
8. Contact
--------------------------------------------- */

html {font-family: 'Open Sans', sans-serif;}
/* Typography */
p, a {font-weight: 400;}
.h2 {font-size: 40px;}
.h3 {font-size: 28px;}
.light-300 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
.semi-bold-600 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}
.typo-space-line::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display:block;
  position: absolute;
  border-bottom:  5px solid #499636;
  padding-top: .5em;
}
.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}
/* Main Nav */
#main_nav .nav-item .nav-link:hover {color: #fff;}
/* Home */
#index_banner {
  background-image: url('./../img/banner-bg-01.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
#index_banner .carousel-item {
  min-height: 60vh;
}
#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
  color: #6266ea !important;
  text-decoration: none;
  font-size: 4em;
}
#index_banner .carousel-inner {
  height: 80vh;
}
#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: #6266ea !important;
  // las rayas de abajo del carrousel van de color azul
}
.service-wrapper .service-footer {
  max-width: 720px;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}
.service-work .service-work-vertical {
	background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 33.33%, rgba(255,255,255,1) 66.66%, rgba(255,255,255,0) 99.99%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
}
.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.service-work .service-work-vertical:hover * {
  color: #000;
  border-color: #000;
  transition: .5s;
}
.recent-work.card{
  border-radius: 10px !important;
}
.recent-work .recent-work-vertical {
	background: rgb(255,255,255);
  background: linear-gradient(-100deg, rgba(25,2,20 ,1) 10%, rgba(255,255,255,0) 95.333%,  rgba(255,255,255,0) 15%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
  cursor: pointer;
}
.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
}
.recent-work .recent-work-vertical:hover * {
  color: white;
  transition: .5s;
}
/* About */
#work_banner {
  background-image: url('./../img/banner-bg-02.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  width: 100%;
}
.progress {
  height: 8px;
}
.objective-icon {
  border-radius: 13px;
  width: 8rem;
}
.partner-wap {
  background-color: #7276ec;
  transition: 1s;
  cursor: pointer;
}
.partner-wap:hover {
  background-color: #b1b3f5;
}
.why-us {
  background: rgb(239,239,253);
  background: -moz-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: -webkit-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd",endColorstr="#ffffff",GradientType=1);
}
.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
  background-image: url('./../img/banner-bg-02.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}
/* Contact */
#floatingtextarea {
  height: 150px
}
/* Footer */
footer a.text-light:hover {
  color: #bfbfbf !important;
  transition-duration: 0.15s;
}

.texto-logo-negro
{
  font-size: 1.2em;
  color: black;
  
}
.texto-logo-verde
{
  font-size: 1.2em;
  color: #499636;
  font-weight: bold;

}

.color-fondo-estandar-light
{
  background-color: #3d7c2e;
  font-size: 0.9em;
}

.color-fondo-estandar
{
  background-color: #499636;
  font-size: 0.7em;
}
.social-size{
font-size: 2em;
}
i{
  margin:5px;
}

body
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
 .resaltar {
            
            border: 1px solid grey;
            border-radius: 30px 30px;
            margin: 1px;
            padding: 0px;
        }

            .resaltar:hover {
                border: 1px solid #499636;
                border-radius: 30px 30px;
                border-width: 2px;
            }
            
            .center {
              margin-left: auto;
              margin-right: auto;
              display: block;
          }
.boton
{
  color: white;
  font-size: 1em;
}
  .boton:hover
  {
    background-color: white;
    border-width: 0.2em;
    border-color: #499636;
    font-size: 1em;
  }

  .nav-boton
  {
    background-color: white;
    
  }

  .nav-boton:hover
  {
    background-color:#499636;
  }

  .font-color
  {
    color: #499636;
  }

.btn-outline-primary
{
    color: #000;
}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: gray;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: gray;
}
